/*
This config file hold typical filters for the CIViC evidence when querying for actionability.
This file can also serve as a template for your custom filters.
*/
process {
    withName: 'QUERYNATOR_CIVICAPI' {
        ext.args = {'--filter_evidence type=predictive \
                    --filter_evidence significance=SensitivityResponse \
                    --filter_evidence direction=supports \
                    --filter_evidence status=accepted \
                    --filter_evidence level=D'}
    }
}
